body{
	margin: 0;
	padding: 0;
}
#menu{
	height: 30px;
	background-color: rgba(255, 255, 255, 1);
	position: fixed;
	text-align: right;
	z-index: 999;
	padding-top: 5px;
}
#main{
	height: 700px; 
	margin: 0; 
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 1;
	background-image: url(img/background1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
}
.main-title{
	padding-top: 300px;	
}

.foto{
	width: 150px;
	float: right;
	margin-top: 150px;
}
.me{
	height: auto; 
	margin: 0 auto; 
	width: 100%; 
	max-width: 1920px; 
	position: relative;
	padding: 20px;
	padding-top: 40px;
	padding-bottom: 10px;
	text-align: center;
}
.about{
	margin-top: 50px;
	text-align: center;
	padding-bottom: 50px;
}
.foto{
	width: 80%;
	margin-top: 60px;
}
.soft-skills{
	text-align: center;
	padding-bottom: 150px;
}
.skill{
	padding: 5px;
	border-radius: 2px;
	box-shadow: 3px 3px 5px rgba(196, 250, 154, 0.1);
	text-align: center;
}
.skill-logo{
	width:50%;
	height: auto;
}
.none{
	float: none; 
	clear: both;
}
.github{
	text-align: center;
	padding: 5px;
	border-radius: 2px;
	margin-bottom: 20px;
	box-shadow: 3px 3px 5px rgba(196, 250, 154, 0.5);
}
.project-caption{
	padding-top: 10px;
}
.project-image-img{
	width: 100%;
}
.project-skill{
	padding: 5px;
	text-align: center;
}
#contact{
	height: 500px;
	padding-top: 300px;
	padding-bottom: 500px;
	background-image: url(img/background1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
}
#project1{ 
	background-image: url(img/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 300px; 
	height: 300px; 
	margin: 0 auto; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
}
#project2{ 
	background-image: url(img/2.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 300px; 
	height: 300px; 
	margin: 0 auto; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
}
#project3{ 
	background-image: url(img/3.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px; 
	height: 500px; 
	margin: 0 auto; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
}

footer{
	height: 200px;
	background-color: rgba(236, 238, 234, 1);
}